@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    .header-top-social {
        width: 370px;
    }
    .header-nav {
        width: 820px;
    }
    .about-content {
        width: 500px;
    }
    .about-right {
        width: 400px;
    }
    .services-single{
        width: 470px;
    }
    .services-single:nth-child(3) {
        margin-right: 30px;
    }
    .services-single:nth-child(2), .services-single:nth-child(4), .services-single:nth-child(6) {
        margin-right: 0;
    }
    .team-single {
        width: 293px;
    }
    .team-single:nth-child(3), .team-single:nth-child(6) {
        margin-right: 0;
    }
    .blog-single {
        width: 303px;
    }
    .footer-single {
        width: 220px;
    }
    .about-bottom-single {
        width: 323px;
    }
    .contact-form {
        width: 620px;
    }
    .single-testimonial{
        width: 303px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
    .header-top-social {
        width: 200px;
    }
    .header-top-left {
        width: 541px;
    }
    .header-nav {
        width: 650px;
    }
    .about-content {
        width: 100%;
        margin-bottom: 40px;
    }
    .about-right {
        width: 100%;
        text-align: center;
    }
    .services-single {
        width: 360px;
    }
    .services-single:nth-child(2), .services-single:nth-child(4), .services-single:nth-child(6) {
        margin-right: 0;
    }
    .services-single:nth-child(3) {
        margin-right: 30px;
    }
    .team-single {
        width: 360px;
    }
    .team-single:nth-child(2), .team-single:nth-child(4), .team-single:nth-child(6), .team-single:nth-child(8) {
        margin-right: 0;
    }
    .blog-single {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-single {
        width: 345px;
        margin-bottom: 30px;
    }
    .about-bottom-single {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-form {
        width: 400px;
    }
    .single-testimonial{
        width: 360px;
    }
    .single-testimonial:nth-child(2), .single-testimonial:nth-child(4), .single-testimonial:nth-child(6) {
        margin-right: 0;
    }
    .single-testimonial:nth-child(3) {
        margin-right: 30px;
    }
}
/*--Mobile--*/
@media only screen and (max-width: 767px) {
    .container{
        width: 350px;
    }    
    .header-logo a {
        text-align: center;
        display: block;
        width: 100%;
    }
    .header-logo {
        width: 100%;
    }
    .header-top-left {
        width: 100%;
        text-align: center;
    }
    .header-top-social {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .breadcumb-title {
        font-size: 30px;
    }
    .contact-info, .single-testimonial {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-form {
        width: 100%;
    }
    .footer-single, .about-content, .about-bottom-single, .team-single, .blog-single {
        width: 100%;
        margin-bottom: 30px;
    }
    .services-single, .about-right{
        width: 100%;
    }
    .bannar-title {
        font-size: 50px;
        line-height: 60px;
    }
    
}